<div class="searchBar">
  <div class="container">
    <form action="/search" role="search" method="POST" class="search__form">
      <input
        type="search"
        aria-label="search"
        name="Search"
        placeholder="Search the site..."
        id="searchInput"
      />
    </form>
    <div id="searchClose">
        Close
    </div>
  </div>
</div>
